.root {
  height: auto;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.root .file {
  min-height: 50px;
  width: 100%;
  position: relative;
  border-bottom: 2px dotted white;
  display: flex;
  align-items: center;
  color: aliceblue;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
}
.root .file .label {
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.root .file .label input {
  display: none;
}
.root .file .cross {
  cursor: pointer;
  right: 0px;
  z-index: 111;
  height: 20px;
  width: 20px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: none;
}
.root .file .label .name {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.root .error {
  color: red;
  position: relative;
}
