.root{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.root .items{
    height: 60px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.root .header{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}